<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <insert id="save" parameterType="user">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge}, #{memberMobile})
    </insert>
    <select id="login" parameterType="user" resultType="user">
        select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
<!--    <select id="findAll" resultType="user">-->
<!--        select * from member_table-->
<!--    </select>-->
<!--    <select id="findById" parameterType="Long" resultType="user">-->
<!--        select * from member_table where id=#{id}-->
<!--    </select>-->
<!--    <delete id="delete" parameterType="Long">-->
<!--        delete from member_table where id=#{id}-->
<!--    </delete>-->
<!--    <select id="findByMemberEmail" parameterType="String" resultType="user">-->
<!--        select * from member_table where memberEmail=#{loginEmail}-->
<!--    </select>-->
<!--    <update id="update" parameterType="user">-->
<!--        update member_table set memberAge=#{memberAge}, memberMobile=#{memberMobile}-->
<!--        where id=#{id}-->
<!--    </update>-->
</mapper>